@import 'src/assets/styles/variables.scss';

.full {
  margin: 50px 200px;
  color: $white;

  &-orderList {
    &-orderItem {
      display: flex;
      flex-direction: column;
      border-bottom: 3px solid white;
      margin-bottom: 20px;

      &-contacts {
        display: flex;
        justify-content: space-between;
        &-index{
            margin-right: 5px;
        }
        &-totalPrice{
            margin-left: 10px;
            color: $red;
        }
        & button{
          background-color: transparent;
          border: none;
          & img{
            background-color: transparent;
          }
        }
        & button:hover{
          cursor: pointer;
        }
      }

      &-products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        &-product {
          margin: 10px;
        }
        
      }

      & img {
        background-color: white;
        width: 100px;
        height: 100px;
      }
    }
  }
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
}
