@import 'src/assets/styles/variables.scss';

.main {
  position: relative;
  background: url(../../../assets/images/devicesBack.png);
  background-repeat: no-repeat;
  background-position: 900px 100px;
}

.main-block {
  position: relative;
  min-height: 78vh;
  width: 60%;
  margin-left: 400px;

  //   background-size: 45%;
  color: $white;
}

.main-header {
  width: max-content;
  padding-top: 58px;
  padding-bottom: 48px;

  & h2 {
    text-align: left;
    font-family: 'Audiowide', cursive;
    font-size: 36px;
    line-height: 46px;
    border-bottom: 2px solid $red;
  }
}

.main-container {
  width: 100%;
  min-height: 40vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  &-slick {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  &-device {
    width: 292px;
    height: 391px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    &-device:hover {
      cursor: pointer;
    }

    &-image {
      width: 232px;
      height: 232px;
      object-fit: contain;
      object-position: center;
      background: #171515;
      border-radius: 15px;
    }

    &-name {
      width: 219px;
      font-size: 24px;
      font-weight: bold;
      line-height: 28px;
      font-family: 'Jura', sans-serif;
    }

    &-description {
      width: 219px;
      height: 20px;
      font-family: 'Jura', sans-serif;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
    }
  }
}

.main-containerSmall {
  display: none;
}

.slick-prev:before,
.slick-next:before {
  font-size: 40px !important;
  background-color: red !important;
}

@media screen and (max-width: 1300px) {
  .main-block {
    margin-left: 300px;
  }
}

@media screen and (max-width: 1024px) {
  .main {
    background-position: 230px 50px;
  }

  .main-block {
    margin-left: 200px;
  }

  .main-header {
    width: max-content;
    padding-top: 48px;
    padding-bottom: 38px;

    & h2 {
      font-size: 29px;
      line-height: 44px;
    }
  }

  .main-container {
    display: none;
  }

  .main-containerSmall {
    width: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &-device {
      height: 292px;
      width: 292px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      // align-items: center;

      &-image {
        width: 232px;
        height: 232px;
        object-fit: contain;
        object-position: center;
        background: #171515;
        border-radius: 15px;
      }

      &-name {
        width: 219px;
        font-size: 20px;
        font-weight: bold;
        line-height: 28px;
        font-family: 'Jura', sans-serif;
      }

      &-description {
        width: 219px;
        // height: 16px;
        font-family: 'Jura', sans-serif;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
      }
    }
  }

}

@media screen and (max-width: 924px) {
  .main-containerSmall {
    width: 550px;

    &-device {
      height: 230px;
      width: 230px;

      &-image {
        width: 180px;
        height: 180px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main {
    background-position: 150px 70px;
  }

  .main-block {
    margin-left: 150px;
    min-height: 81vh;
  }

  .main-header {
    width: max-content;
    padding-top: 48px;
    padding-bottom: 38px;

    & h2 {
      font-size: 26px;
      line-height: 40px;
    }
  }
  .main-containerSmall {
    width: 420px;
    min-height: 700px;

    &-device {
      height: 180px;
      width: 180px;
      margin-bottom: 30px;

      &-image {
        width: 170px;
        height: 170px;
      }

      &-name {
        width: 180px;
        font-size: 16px;
      }

      &-description {
        width: 180px;
        // height: 16px;
        font-size: 14px;
      }
    }
  }

}

@media screen and (max-width: 570px) {
  .main-block {
    margin-left: 30px;
    background-position: 0px 70px;
  }

  .main-container {
    display: none;
  }

  .main-containerSmall {
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    &-device {
      height: 200px;
      width: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      &-image {
        width: 130px;
        height: 130px;
        object-fit: contain;
        object-position: center;
        background: #171515;
        border-radius: 15px;
      }

      &-name {
        width: 130px;
        font-size: 20px;
        font-weight: bold;
        line-height: 28px;
        font-family: 'Jura', sans-serif;
      }

      &-description {
        width: 130px;
        height: 16px;
        font-family: 'Jura', sans-serif;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
      }
    }

  }

}

@media screen and (max-width: 535px) {
  .main-containerSmall {
    width: 400px;

    &-device {
      height: 250px;
      width: 250px;

      &-image {
        width: 200px;
        height: 200px;
        border-radius: 10px;
      }

      &-name {
        width: 200px;
        font-size: 17px;
      }

      &-description {
        width: 200px;
        font-family: 'Jura', sans-serif;
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 435px) {
  .main-containerSmall {
    width: 340px;
  }
}

@media screen and (max-width: 360px) {

  .main-block {
    height: max-content;
    margin-left: 0px;
    padding: 0px 15px 0px 15px;
    background-position: -50px 50px;
  }

  .main-header {
    width: max-content;
    padding-top: 28px;
    padding-bottom: 18px;

    & h2 {
      font-size: 26px;
      line-height: 40px;
    }
  }

}
