.main-block{
    margin-left: 20% ;
    color: white;
    &-all{
        display: flex;
    }
}
.main-block h1{
    padding-top: 4%;
    text-align: left;
    font-size: 2rem;
}
.main-block nav{
    padding-top: 4%;
    max-width: 200px;
}
.main-block li{
    margin: 15px 0px;
}
a{
    color: #fff;
    text-decoration: none;
}
a:hover{
    color: red;
}
.active-link{
    color: red;
}