<div class="main-block">
    <div class="main-header">
      <h2>About me &nbsp;&nbsp;&nbsp;</h2>
    </div>
    <div class="main-container">
      <div class="main-container-text">
        <p>My name is Max. I was born 02.15.1996 in a small town - Alexandria. I had a very fun childhood. I practiced
          karate, dance, speedcubing, gymnastics and judo. My father is a karate trainer, and my mother is a math teacher,
          so I studied well at school and spent almost all my time on karate training. My best achievement in karate is a
          victory at the European Championship in 2017. After graduation, I moved to study in the city Lviv where I met
          my love. I graduated from the Lviv Polytechnic and have a master's degree. Also, until the end of 2019, I taught
          karate children and played at a semi-professional level in Dota 2, but fate played a trick and since the
          beginning of 2020, my whole life has turned upside down. I ended up training and started learning front end and
          streaming Fortnite. I heard about this game from my brother Michael, and this game really fascinated me. I enjoy
          my streams and if you read it to the end I congratulate you, you learned a lot about me!</p>
      </div>
    </div>
  </div>