@import 'src/assets/styles/variables.scss';

.main-block {
  position: relative;
  height: 78vh;
  margin-left: 400px;
  background: url(../../../assets/images/strelok.png);
  background-repeat: no-repeat;
  background-position: 600px 100px;
  color: $white;
}

.main-header {
  width: max-content;
  padding-top: 58px;
  padding-bottom: 48px;

  & h2 {
    text-align: left;
    font-family: 'Audiowide', cursive;
    font-size: 36px;
    line-height: 46px;
    border-bottom: 2px solid $red;
  }
}

.main-container-text p {
  font-size: 18px;
  line-height: 25px;
  font-family: 'Jura', sans-serif;
  width: 700px;
}

@media screen and (max-width: 1300px){
    .main-block{
        margin-left: 300px;
    }
}
@media screen and (max-width: 1024px){
    .main-block{
        margin-left: 200px;
        background-position: 230px 50px;
    }
    .main-header {
        width: max-content;
        padding-top: 48px;
        padding-bottom: 38px;
      
        & h2 {
          font-size: 29px;
          line-height: 44px;
        }
      }
      .main-container-text p {
        font-size: 15px;
        line-height: 22px;
        width: 430px;
      }
}
@media screen and (max-width: 768px){
    .main-block{
        margin-left: 150px;
        background-position: 150px 70px;
        height: 81vh;
    }
    .main-header {
        width: max-content;
        padding-top: 48px;
        padding-bottom: 38px;
      
        & h2 {
          font-size: 26px;
          line-height: 40px;
        }
      }
      .main-container-text p {
        font-size: 14px;
        line-height: 20px;
        max-width: 400px;
      }
}
@media screen and (max-width: 570px){
    .main-block{
        margin-left: 30px;
        background-position: 0px 70px;
    }
    .main-container-text p {
        font-size: 14px;
        line-height: 20px;
        width: 330px;
      }
}
@media screen and (max-width: 360px){
    .main-block{
        height: max-content;
        margin-left: 0px;
        padding: 0px 15px 0px 15px;
        background-position: -50px 50px;
    }
    .main-header {
        width: max-content;
        padding-top: 28px;
        padding-bottom: 18px;
      
        & h2 {
          font-size: 26px;
          line-height: 40px;
        }
      }
    .main-container-text p {
        font-size: 14px;
        line-height: 15px;
        width: 330px;
      }
}